@import url(../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css);
@import url(bootstrap.css);
@import url(bootstrap-grid.css);
@import url(bootstrap-reboot.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
h3, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }

header {
  height: 200px;
  padding-top: 50px;
  z-index: 2 !important;
  position: absolute;
  top: 0;
  width: 100%; }
  header .navbar-toggler {
    border-color: white !important; }
  header i {
    color: white;
    font-size: 24px; }
  header .nav-item {
    margin-left: 42px; }
    header .nav-item a {
      color: white !important;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400; }
      header .nav-item a:hover {
        color: #fde52c !important; }
    @media screen and (max-width: 450px) {
      header .nav-item {
        margin-left: 10px; } }
  @media screen and (max-width: 450px) {
    header .navbar-brand {
      padding: 0;
      margin-right: 4px; } }
  header .language a {
    display: inline-block; }
  header .language img {
    display: inline-block;
    width: 40px !important;
    height: 40px !important;
    margin-right: 10px; }
  header .dropdown-menu a:hover {
    background-color: transparent; }

.first_screen {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
  z-index: 1;
  background-image: url("../Images/main_bg.jpg"); }

.second_screen {
  position: relative; }
  .second_screen .item {
    padding-top: 100px;
    padding-bottom: 100px; }
    @media screen and (max-width: 570px) {
      .second_screen .item {
        padding-top: 20px;
        padding-bottom: 20px; } }
  .second_screen .left_block h2 {
    font-size: 31px;
    font-weight: bold;
    color: #002e5b;
    margin-bottom: 28px;
    text-transform: uppercase; }
  .second_screen .left_block .first-line {
    font-size: 25px;
    line-height: 31px;
    color: #666666;
    margin-bottom: 25px; }
    @media screen and (max-width: 570px) {
      .second_screen .left_block .first-line {
        font-size: 16px;
        line-height: 22px; } }
  .second_screen .left_block p {
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 40px; }
  .second_screen .left_block a {
    font-size: 16px;
    color: #002e5b;
    margin-bottom: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    display: block; }
    .second_screen .left_block a:after {
      content: "";
      display: block;
      height: 2px;
      width: 102px;
      background-color: #002e5b; }
    .second_screen .left_block a:hover {
      transition: 0.5s;
      color: #e81018; }
      .second_screen .left_block a:hover:after {
        background-color: #e81018;
        transition: 0.5s; }
  .second_screen .right-block {
    position: relative; }
    .second_screen .right-block .vertical_BG {
      background-color: #fde52c;
      height: 300%;
      width: 270px;
      position: absolute;
      bottom: -100px;
      left: 50%;
      margin-left: -135px;
      z-index: 0 !important; }
      @media screen and (max-width: 764px) {
        .second_screen .right-block .vertical_BG {
          display: none; } }
    .second_screen .right-block .photo {
      position: relative;
      width: 100%;
      height: 320px;
      background-color: #a1a1a1;
      z-index: 3 !important; }

.third_screen {
  position: relative;
  background-color: #f4f4f4; }
  .third_screen .Grahp {
    position: relative; }
    .third_screen .Grahp .photo {
      position: relative;
      width: 100%; }
  .third_screen .item {
    padding-top: 100px;
    padding-bottom: 100px; }
    @media screen and (max-width: 800px) {
      .third_screen .item {
        padding-top: 20px;
        padding-bottom: 20px; } }
  .third_screen .constructing h2 {
    font-size: 31px;
    font-weight: bold;
    color: #002e5b;
    margin-bottom: 28px;
    text-transform: uppercase; }
  .third_screen .constructing .first-line {
    font-size: 25px;
    line-height: 31px;
    color: #666666;
    margin-bottom: 25px; }
    @media screen and (max-width: 570px) {
      .third_screen .constructing .first-line {
        font-size: 16px;
        line-height: 22px; } }
  .third_screen .constructing p {
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 40px; }
  .third_screen .constructing a {
    font-size: 16px;
    color: #002e5b;
    margin-bottom: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    display: block; }
    .third_screen .constructing a:after {
      content: "";
      display: block;
      height: 2px;
      width: 102px;
      background-color: #002e5b; }
    .third_screen .constructing a:hover {
      transition: 0.5s;
      color: #e81018; }
      .third_screen .constructing a:hover:after {
        background-color: #e81018;
        transition: 0.5s; }

.contact_us {
  background-color: #002e5b;
  padding: 25px 0; }
  .contact_us p {
    font-size: 21px;
    color: white;
    margin-bottom: 0; }
    @media screen and (max-width: 450px) {
      .contact_us p {
        font-size: 15px;
        margin-bottom: 20px; } }
  .contact_us a {
    padding: 17px;
    text-decoration: none;
    background-color: #fde428;
    border-radius: 3px;
    text-transform: uppercase;
    display: block;
    color: #002e5b;
    font-size: 16px;
    font-weight: bold;
    text-align: center; }
    .contact_us a:hover {
      transition: 0.5s;
      background-color: #e81018;
      transform: scale(1.1); }
    @media screen and (max-width: 450px) {
      .contact_us a {
        font-size: 12px;
        padding: 12px; } }

.popular_services {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media screen and (max-width: 800px) {
    .popular_services {
      padding: 50px 0; } }
  .popular_services h2 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #002e5b;
    display: block;
    margin-bottom: 28px;
    text-align: center; }
  .popular_services p {
    font-size: 18px;
    color: #666666;
    line-height: 30px;
    margin-bottom: 50px;
    text-align: center; }
  .popular_services .photo_block {
    height: 190px;
    margin-bottom: 37px; }
  .popular_services .service-1 {
    background-color: #69d2e7; }
  .popular_services .service-2 {
    background-color: #add478; }
  .popular_services .service-3 {
    background-color: #f49f77; }
  .popular_services .Item h3 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    color: #002e5b;
    display: block;
    margin-bottom: 28px; }
  .popular_services .Item p {
    font-size: 16px;
    color: #666666;
    line-height: 28px;
    text-align: left; }

.we_are_in_numbers {
  background-color: #002e5b;
  padding-top: 140px;
  padding-bottom: 140px; }
  @media screen and (max-width: 800px) {
    .we_are_in_numbers {
      padding: 50px 0; } }
  .we_are_in_numbers span {
    display: block;
    margin-bottom: 28px;
    color: white;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 12px;
    text-transform: uppercase;
    text-align: center; }
    @media screen and (max-width: 450px) {
      .we_are_in_numbers span {
        font-size: 25px !important; } }
  .we_are_in_numbers p {
    color: white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center; }
    @media screen and (max-width: 450px) {
      .we_are_in_numbers p {
        font-size: 10px !important; } }
  .we_are_in_numbers .numbers_item_1:hover, .we_are_in_numbers .numbers_item_2:hover, .we_are_in_numbers .numbers_item_3:hover, .we_are_in_numbers .numbers_item_4:hover {
    transform: scale(1.05);
    transition: 0.5s; }
    .we_are_in_numbers .numbers_item_1:hover span, .we_are_in_numbers .numbers_item_2:hover span, .we_are_in_numbers .numbers_item_3:hover span, .we_are_in_numbers .numbers_item_4:hover span {
      color: #fde52c; }
    .we_are_in_numbers .numbers_item_1:hover p, .we_are_in_numbers .numbers_item_2:hover p, .we_are_in_numbers .numbers_item_3:hover p, .we_are_in_numbers .numbers_item_4:hover p {
      color: #fde52c; }

.we_best {
  padding: 100px 0; }
  @media screen and (max-width: 800px) {
    .we_best {
      padding: 50px 0; } }
  .we_best .video {
    background-color: #002e5b;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .we_best .video iframe {
      z-index: 2; }
    .we_best .video .yel_bg {
      position: absolute;
      z-index: -1 !important;
      width: 270px;
      height: 700px;
      top: -150px;
      right: 50%;
      margin-right: -135px;
      background-color: #fde52c; }
      @media screen and (max-width: 764px) {
        .we_best .video .yel_bg {
          display: none; } }
  .we_best .best_consulting_r_b h2 {
    font-size: 31px;
    font-weight: bold;
    color: #002e5b;
    margin-bottom: 28px;
    text-transform: uppercase; }
  .we_best .best_consulting_r_b .first-line {
    font-size: 25px;
    line-height: 31px;
    color: #666666; }
  .we_best .best_consulting_r_b p {
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    margin-bottom: 40px; }
  .we_best .best_consulting_r_b a {
    font-size: 16px;
    color: #002e5b;
    margin-bottom: 0;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    display: block; }
    .we_best .best_consulting_r_b a:after {
      content: "";
      display: block;
      height: 2px;
      width: 110px;
      background-color: #002e5b; }
    .we_best .best_consulting_r_b a:hover {
      transition: 0.5s;
      color: #e81018; }
      .we_best .best_consulting_r_b a:hover:after {
        background-color: #e81018;
        transition: 0.5s; }

.comments {
  background-color: #002e5b;
  padding: 175px 0 100px;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 800px) {
    .comments {
      padding: 125px 0 50px; } }
  .comments p {
    font-size: 20px;
    line-height: 40px;
    color: white;
    text-align: center;
    margin-bottom: 64px;
    max-width: 920px;
    padding: 15px; }
    @media screen and (max-width: 570px) {
      .comments p {
        font-size: 16px;
        line-height: 22px; } }
    .comments p:before {
      display: block;
      content: '"';
      color: white;
      font-size: 50px;
      font-weight: bold;
      position: relative;
      bottom: 50px; }
  .comments span {
    display: block;
    max-width: 920px;
    text-transform: uppercase;
    color: white; }
    .comments span:before {
      content: "";
      height: 2px;
      width: 22px;
      background-color: white;
      display: block;
      position: relative;
      left: 50%;
      margin-left: -100px;
      top: 50%;
      margin-bottom: 1px; }
    .comments span:after {
      content: "";
      height: 2px;
      width: 22px;
      background-color: white;
      display: block;
      position: relative;
      left: 50%;
      margin-left: 80px;
      bottom: 50%;
      margin-top: 1px; }
    @media screen and (max-width: 800px) {
      .comments span:before {
        content: "";
        height: 0; }
      .comments span:after {
        content: "";
        height: 0; } }

.contact_block {
  padding: 100px 0; }
  @media screen and (max-width: 800px) {
    .contact_block {
      padding: 50px 0; } }
  .contact_block h2 {
    text-transform: uppercase;
    font-size: 31px;
    color: #002e5b;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-bottom: 26px; }
  .contact_block p {
    text-align: center;
    font-size: 21px;
    color: #666666;
    line-height: 27px;
    display: block;
    margin-bottom: 46px; }
  .contact_block iframe {
    margin-bottom: 40px; }
  .contact_block .contact_links {
    border: 2px #fbfbfb solid;
    margin: 0; }
    .contact_block .contact_links h3 {
      text-transform: uppercase;
      color: #002e5b;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 25px; }
    .contact_block .contact_links i {
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: 18px;
      color: #002e5b;
      margin-bottom: 20px; }
    .contact_block .contact_links a {
      display: flex;
      align-items: center;
      justify-content: start;
      font-size: 16px;
      text-decoration: none;
      color: #002e5b;
      margin-bottom: 20px; }
    .contact_block .contact_links .contact:hover a, .contact_block .contact_links .contact:hover i {
      color: #e81018;
      transition: 0.5s; }

footer {
  padding: 30px 0;
  background-color: #002e5b; }
  footer a {
    color: white;
    font-size: 16px;
    text-decoration: none; }
    footer a:hover {
      color: white; }
    footer a span {
      color: #fde52c;
      font-size: 16px; }
  footer .social_block {
    display: flex;
    align-items: center; }
    footer .social_block a {
      color: white;
      font-size: 16px;
      margin-left: 20px; }
  footer .FB:hover {
    color: #3b5998; }
  footer .TW:hover {
    color: #00acee; }
  footer .Goog:hover {
    color: red; }
  footer .Inst {
    color: #3f729b; }

@media screen and (max-width: 450px) {
  h2 {
    font-size: 20px !important; } }

@media screen and (max-width: 450px) {
  h3 {
    font-size: 16px !important; } }

/*# sourceMappingURL=style.css.map */
